@charset "UTF-8";

/********* public:predator_about_us.css ********/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

body {
    height: 100vh;
    background: #131416;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    font-family: 'Mulish';
    font-style: normal;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #FFFFFF;
    max-width: 1220px;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 568px;
    margin-bottom: 80px;
}

.anchor {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
}

.SVG {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #a595ff;
    text-shadow: 0px 0px 55px rgba(177, 163, 255, 0.9);
}

.aboutUs {
    display: flex;
    align-items: initial;
    justify-content: space-between;
    width: 100%;
    height: 568px;
}

.aboutUs-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
	max-width: 370px;
}

.subHeader {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-bottom: 25px;
}

.subHeader > h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #a49eff;
    text-shadow: 0px 0px 55px rgba(147, 149, 255, 0.9);
}

.subHeader > h2 { 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E2EAF1;
}

.subHeader > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E2EAF1;
}

.subUl {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin-bottom: 38px;
}

.subUl > li {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    list-style: none;
    padding-left: 25px;
}

.subUl > li::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #afa7ff;
    content: "";
    box-shadow: 0px 0px 20px rgba(180, 175, 255, 0.9);
}

.subBtn {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    color: #E2EAF1;
    background: transparent;
    max-width: 200px;
    width: 100%;
    height: 50px;
    border: 2px solid #a69fff;
    filter: drop-shadow(0px 0px 20px rgba(163, 164, 255, 0.9));
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    margin-bottom: 15px;
	text-align: center;
	text-decoration: none !important;
}

.subBtn:hover {
    color: #131416;
    background: #a08fff;
    transition: .5s;
}

.subBtn:active {
    color: #131416;
    background: #9284e5;
    border: 2px solid #9284e5;
    filter: drop-shadow(0px 0px 20px rgb(138, 132, 229));
    transition: .5s;
}

.subPrice {
    display: block;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #5B6169;
}

.subLogo-blur{
    position: relative;
}

.subLogo-blur:hover:after {
    transition: .5s;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 700px;
}

.subLogo-blur:hover > .subLogo {
    width: 785px;
    height: 496.63px;
    transition: .5s;
}

.subLogo-blur::after {
    position: absolute;
    top: 43%;
    left: 60%;
    width: 1000px;
    height: 800px;
    content: "";
    background: url("/styles/predator/about_us/preview_bg.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.subLogo {
    position: relative;
    z-index: 2;
    width: 735px;
    height: 465px;
    transition: .5s;
}

.aboutUs__chooseUs {
    position: relative;
    width: 100%;
    height: 460px;
    background: #17191B;
}

.aboutUs__chooseUs::after {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 500vw;
    height: inherit;
    content: "";
    background: #17191B;
}

.block-title {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #E2EAF1;
}

.chooseUs__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chooseUs__content-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 241.8px;
    height: 240px;
	align-items: center;
}

.chooseUs__content-block > svg {
    fill: none;
}

.block__text {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.block__text > span {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #E2EAF1;
}

.block__text > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5B6169;
}

.screenshots-grid {
    display: grid;
    gap: 30px 34px;
    grid-template-columns: repeat( auto-fill, minmax(200px, 370px) );
    grid-template-rows: auto; 
}

.grid-block {

}

.grid-block > img {
    width: 370px;
	height: 220px;
	object-fit: cover;
    border-style: solid;
    border-image: linear-gradient(225.92deg, rgba(181, 165, 255, 0.9) -1.41%, rgba(146, 222, 49, 0) 58.15%) 3;
}